body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f8f4f0;
    color: #201f24;
}
.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}
.sidebar{
    background-color: #201f24;
    color: white;
    padding: 30px 20px;
}
.nav-item{
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}
.nav-item.active{
    background-color: #f8f4f0;
    color: #201f24;
}
.content{
    padding: 40px;
}
.top-stats{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 30px;
}
.card.dark{
    background-color: #201f24;
    color: white;
}
.main-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.card{
    background: white;
    padding:25px;
    border-radius: 12px;
}
.card.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}